body {
  background: #06326E;
  margin: 0;
  height: 100%
  /*font-size: 16px;*/
  height: 100vh;
}

main, header, section, aside, footer {
  margin: 0;
  padding: auto;
  border: 0;
  color: #06326E;
}
p, a, text {
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;   
}

[class^="griditem"] {
 color: white;

 text-align: left;
 font-size: 1rem;

}










/*Lielie ekrāni*/


@media screen and (min-width: 960px){ 
  


  .grid {
  display: grid;
  justify-content: center; 
  height: 100vh;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows:  4fr 1fr;



}
  .griditem1 {

    align-content: center;
    background-image: url("dayne.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    grid-column-start:  1;
    grid-column-end:  4;
    grid-row-start: 1;
      }
  .griditem1 p{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .griditem1 img{
   margin: 0;
   
 }
  
  .griditem2 div{

  padding-top: 20px;
  
  }

  .griditem2 {
    display: flex;
    align-items: center;
    justify-content: center;

 grid-column-start: 2;
  grid-row-start:  2;

  }



}


/*mazi ekrāni*/
@media screen and (max-width: 959px){ 

  .grid {
  display: grid;
  justify-content: center; 
  height: 100vh;
  grid-template-columns:1fr ;
  grid-template-rows:  3fr 1fr;



}
  .griditem1 {

    align-content: center;
    background-image: url("dayne_small.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    
    grid-row-start: 1;
    

  }
  .griditem1 p{
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .griditem1 img{
   margin: 0;
   
 }
  
  .griditem2 div{

  padding-top: 20px;
  
  }

  .griditem2 {
    display: flex;
    align-items: center;
    justify-content: center;

  grid-row-start:  2;

  }


   
}

